@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    @font-face{
        font-family: "Mulish";
        src: url('/fonts/Mulish.woff') format('woff');
        font-family: 'Montserrat', sans-serif

    }
    
}
